<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukrodrigotrejo.autocor" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".db.manager.Global"
        android:allowBackup="true"
        android:icon="@drawable/logo_autocor"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".catalogo.Catalogo"
            android:icon="@drawable/logo_autocor"
            android:label="@string/app_name"
            android:parentActivityName=".catalogo.Filtros" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lukrodrigotrejo.autocor.catalogo.Filtros" />

        </activity>
        <activity android:name=".db.manager.AndroidDatabaseManager" />
        <activity
            android:name=".catalogo.DetalleProducto"
            android:label="@string/title_activity_detalle_producto"
            android:parentActivityName=".catalogo.Catalogo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lukrodrigotrejo.autocor.catalogo.Catalogo" />
        </activity>
        <activity
            android:name=".catalogo.Filtros"
            android:label="@string/title_activity_filtros"
            android:parentActivityName=".catalogo.Catalogo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lukrodrigotrejo.autocor.catalogo.Login" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".catalogo.Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >

        </activity>
    </application>

</manifest>
